div {
  box-sizing: border-box;
}

#main {
  width: 99%;
  background-color: rgba(230, 233, 230, 0.7);
  margin: 1rem auto;
  font-family: sans-serif;
  border-radius: 7px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 3rem;
  margin-bottom: 0;
}

p {
  text-align: center;
  font-size: 1rem;
  margin: 2rem;
}

#img-div {
  background-color: white;
  width: 97%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;

}

#image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

#img-caption {
  margin: 0;
  padding: 1rem 0.5rem;
}

h2 {
  text-align: center;
  font-size: 1.4rem;
  margin: 3.5rem 0;
}

ul, blockquote {
  max-width: 550px;
  margin: 0 auto 2rem auto;
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.3px;
  padding: 0 2rem;
}

li {
  margin: 1rem 0;
}

h3 {
  text-align: center;
  font-size: 1.4rem;
  padding: 2rem 0;
}
